h1{
    text-align:center;
    color:yellow

}

body{
    background-color:rgb(72, 255, 0);
    font-family: Marker Felt, fantasy
}

h3{
    color:yellow
}

p{
    color:yellow
}


span{
    background-color:black;
    color:white
}



li{
    color:rgb(98, 60, 10)
}
