h3{
    color:rgb(235, 238, 141);
}

h1{
    text-align:center;
    color: rgb(235, 238, 141)

}

body{
    background-color:rgb(6, 6, 42);
    font-family: garamond;
    padding-left:45px;
}

h2{
    color:rgb(235, 238, 141);
    text-align:center
}

p{
    color:rgb(235, 238, 141);
    font-size: 20px
}


span{
    background-color:rgba(186, 142, 28, 0.784);
    color:black
}




.cartinci img{
    width: 25%;
    padding: 5px 0;
    margin: 5px;
    text-align: center;
    position: relative;
    align-items: center;
    align-content: center;
}


ul{
    background-color: rgb(67, 176, 67);
    padding-top: 15px;
    padding-bottom: 15px;
    color:rgb(1, 10, 56);
    font-size: 20px;
}

.geniy{
    background-color: rgb(67, 176, 67);
    padding-top: 15px;
    padding-bottom: 15px;
    color:rgb(1, 10, 56);
    font-size: 20px;
}

.big{
    height: 400px;
    width: 650px;
}
